<header>

  <h2>Tiny App</h2>

  <% if (user) { %>
    <form action="/logout" method="POST">
    <a href="/urls">My URLs</a>
      <input type="submit" value="Logout">
    </form>
  <% } else { %>
    <a href="/register">Register</a> <a href="/login">Login</a>
  <% } %>

</header>