<header>
  <nav>
        <ul>
          <span id="siteName"><h2>Tiny App</h2></span>
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
  </nav>
</header>