<% include partials/_head %>

<h2>Register for TinyApp</h2>

<p><a href="/login">Login</a></p>

  <form action="/register" method="POST">
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" placeholder="Email">
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="Password">
    <input type="submit" value="Register">
  </form>

<% include partials/_footer %>