<% include partials/_head %>

<% include partials/_header %>

<h2 class="centerForm">Create URL</h2>

<section class="centerForm">
  <form action="/urls" method="POST">
    <label for="longURL">Enter a URL:</label>
    <input id="longURL" type="text" name="longURL" placeholder="http://" required>
    <input style="margin-left: 2em" type="submit" value="Submit">
  </form>
</section>

<% include partials/_footer %>