<% include partials/_head %>

<h2>Login to TinyApp</h2>

  <form action="/login" method="POST">
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" placeholder="Email">
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
  </form>

<% include partials/_footer %>